.home-btn {
    /* view-transition-name: var(--home-btn); */
    backdrop-filter: blur(5px);
}
.home-bg {
    /* background: linear-gradient(90deg,  #ffc700 0%, #e91e1e 100%); */
    background: linear-gradient(90deg,  #ffc700 0%, #e91e1e 50%, #0c1770 100%);
    background-size: 200% 100%;
    background-position: 0 0;
    animation: bgposition 10s infinite linear alternate;
}

@keyframes bgposition {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}

.home-title p {
    position: relative;
    font-size: 120px;
    font-weight: bold;
    background: #fff;
    color: #000;
    overflow: hidden;
}

.home-title p::after {
    border-radius: 43% 47% 44% 48%;
    animation: rotate 10s infinite .5s linear;
}

.home-title p::before,.home-title p::after {
    content: "";
    position: absolute;
    top: -923px;
    left: 50%;
    width: 2000px;
    height: 2000px;
    border-radius: 45% 48% 43% 47%;
    transform: translate(-50%, -50%);
    background: rgba(3, 169, 244, .85);
    animation: rotate 10s infinite linear;
    z-index: 1;
    mix-blend-mode: lighten;

}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}