.container {
    container-type: inline-size;
}
/* .container::-webkit-resizer{
  background-color: royalblue;
  height: 500px;
} */
.avatar-container {
  container-type: inline-size;
}
.father {
  width: 800px;
  container-type: inline-size;
}

@container (max-width: 200px) {
  .dufu-poem {
    font-weight: 800
  }
}
